body {
  background-image: url("https://raw.githubusercontent.com/DXLMods/Storage/main/bloodsoakedvines.jpg");
  background-color: #000000;
  color: #ffffff;
}
img {
  padding: 10px;
}
p {
  font-style: italic;
}
